.comment {
  line-height: 1.5;
  position: absolute;
  transform: translateX(-1rem) translateY(-1rem);
}

.comment__close {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  height: 1.25rem;
  margin: 0.25rem;
  padding: 0.25rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25rem;
}

.comment__close img {
  width: 100%;
}

.comment__user {
  color: darkgray;
  font-size: 0.8em;
  text-align: right;
}
