.button {
  appearance: none;
  background-color: transparent;
  border: 0.1em solid white;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  padding: 0.5em;
  transition: background-color 0.25s ease-out;
}

.button:hover,
.button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
