.comment-marker {
  align-items: center;
  background: white;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  height: 2rem;
  justify-content: center;
  text-align: center;
  transition: transform 0.25s ease-out;
  width: 2rem;
  will-change: transform;
}

.comment-marker:hover {
  transform: scale(1.1);
}

.comment-marker__icon {
  width: 50%;
  margin: 25% 0;
}
