.user-link {
  text-align: center;
}

.user-link__link {
  background: white;
  color: black;
  padding: 0.5rem;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-link__name {
  font-weight: bold;
}

@media (min-width: 900px) {
  .user-link {
    position: fixed;
    right: 0;
    top: 0;
  }

  .user-link__link {
    max-width: 200px;
  }
}
